.remove-btn{
  width: 50%;
  padding: 5px 10px;
  background-color: #0f6b2b;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.remove-btn:hover{
  background-color: #0b4d1f;
}