body {
  background-color: #121212;
  color: #ddd;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  width: 400px;
  min-height: 550px; 
  max-height: 50vh; 
  overflow-y: auto; 
  overflow-x: hidden;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}